* {
    font-family: 'Alegreya', serif;
    margin: 5px;
}

:root {
    --primary: #122A8E;
    --secondary: #F3A847;
    --anchor: #006836;
    --spacing-one: calc(1rem * 0.5);
}

html {
    background-color: #eff7ff;
}

body {
    background-color: #558c8c;
    padding-top: 1%;
    border-radius: 10px;
}

p {
    color: #000000;
}

h1, h2, h3 {
    color: #071716; 
}

header nav a {
    text-decoration: none;
}

div p a {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    color: var(--primary);
}

nav div div a {
    color: var(--anchor);
}

.span-a {
    color: var(--anchor);
}

a:hover {
    text-decoration: underline;
}

header nav div div div a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
}

.responsive {
    width: 33%;
    height: auto;
}

.center {
    text-align: center;
}

.center-in {
    margin-right: var(--spacing-one);
    margin-left: var(--spacing-one);
}

.row {
    display: flex;
}

.first-column {
    flex: 50%;
}

.second-column {
    flex: 50%;
}

.end_footer {
    margin: 0px;
}

.response {
    width: 33%;
    height: auto;
}

.sec-response {
    width: 66%;
    height: auto;
}

.navActive {
    color: var(--secondary);
}

.resume_divs {
    margin-bottom: 20px; 
}

.resume_h1 {
    font-size: 32;
}

.resume_h2 {
    font-size: 24;
}

#mywork_h1 {
    text-align: center;
}
